* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFDF5; 
    overflow-x: hidden;
}

/** Navbar **/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    color: #3E2723;
}
.brand {
    font-size: 2vw;
    font-weight: bold;
}

/* Desktop nav */
nav {
    list-style: none;
    display: flex;
}
nav a {
    margin-left: 2vw;
    color: #3E2723;
    text-decoration: none;
    font-family: "Caesar Dressing";
    font-size: 1vw;
    transition: color 0.25s ease;
}

.nav-item {
    padding: 12px;
}

nav a:hover {
    background-color: #869d7a;
    border-radius: 8px;
    transition: color 0.5s ease, background-color 0.30s ease
}

/* Hamburger (hidden on desktop) */
.menu-toggle {
    display: none;
    background: transparent;
    border: 0;
    padding: 6px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 24px;
    height: 3px;
    background: #3E2723;
    margin: 4px 0;
    transition: 0.3s;
}



/* Responsive Nav */
@media (max-width: 768px) {
    /* Hide desktop nav, show hamburger */
    .menu-toggle { display: inline-block; }

    .hero-content {
        max-width: 70vw;
        text-align: center;
    }

    .hero-bg {
        object-fit: cover;
    }

    .hero, .gallery-container {
        height: 50vw; 
    }

    .card-item {
        flex: 0 0 70vw;
    }

    .container-best-sellers {
        gap: 6vw;
    }

    nav {
        display: none;
        position: absolute;
        right: 20px;
        top: 60px;
        width: 220px;
        background: #333;
        border-radius: 10px;
        padding: 10px;
        flex-direction: column;
        z-index: 4;
    }
    nav.active { display: flex; }
    nav a { padding: 10px; }
}

footer {
    background: #3E2723;
    color: #FFFDF5;
    text-align: center;
    padding: 1vw;
    font-size: 1.2vw;
}