* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFDF5; 
    overflow-x: hidden;
}

/** Navbar **/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    color: #3E2723;
}
.brand {
    font-size: 2vw;
    font-weight: bold;
}

/* Desktop nav */
nav {
    list-style: none;
    display: flex;
}
nav a {
    margin-left: 2vw;
    color: #3E2723;
    text-decoration: none;
    font-family: "Caesar Dressing";
    font-size: 1vw;
    transition: color 0.25s ease;
}

.nav-item {
    padding: 12px;
}

nav a:hover {
    background-color: #869d7a;
    border-radius: 8px;
    transition: color 0.5s ease, background-color 0.30s ease
}

/* Hamburger (hidden on desktop) */
.menu-toggle {
    display: none;
    background: transparent;
    border: 0;
    padding: 6px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 24px;
    height: 3px;
    background: #3E2723;
    margin: 4px 0;
    transition: 0.3s;
}

/** Hero section **/
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    padding: 2vw;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.9;
    filter: blur(2.5px);
}

.hero-title {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 20%;
    font-size: 5vw;
    letter-spacing: 1vw;
    transform: scaleY(1.5);
    font-family: "Black Ops One";
    color: #3E2723;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.hero-content {
    position: relative;
    z-index: 3;
    max-width: 70vw;
    left: 37%;
    text-align: center;
    bottom: 30%;
}

.hero blockquote {
    margin-top: 39vw;
    font-size: 2.8vw;
    margin-bottom: 1vw;
    color: white;
    font-family: "Caesar Dressing";
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.hero figcaption {
    font-size: 2.5vw;
    margin-top: 1vw;
    color: burlywood;
    font-family: "Caesar Dressing";

}

h2 {
    text-align: center;
    font-size: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: #3E2723;
}

/** Cards **/

.container-best-sellers {
    display: flex;
    justify-content: center;
    padding: 4vw 2vw;
    background-color: black;
    gap: 1.5vw;  /** This gives some space between elements **/
    /** New changes for better look **/
    overflow-x: auto;     /** This allows the cards to move horizontally **/
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.container-best-sellers::-webkit-scrollbar {
    display: none;
}

.card-item {
    background-color: #FFFDF5;
    border-radius: 10px;
    overflow: hidden;
    flex: 0 0 18vw;
    /** New changes **/
    scroll-snap-align: center; /** Stop in the center at mobile view **/
    transition: transform 0.3s ease-in-out;
}

.card-item:hover .card-image img {
    transform: scale(1.1) rotate(2deg);
}

.card-image img {
    width: 100%;
    display: block;
    object-position: center;
    transition: transform 0.5s ease;
}

.content {
    padding: 2vw;
    text-align: center;
    font-size: 2vw;
}

/** Cards for features**/

/** Card 1 **/

.container-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);   
    gap: 20px;
    padding: 3vw;
}

.container-features .card-features {
    position: relative;
    width: 45vw;
    height: 23vw;
    padding: 1.5vw;
    background: linear-gradient(60deg, #2D1B18 0%, #744942 100%);
    overflow: hidden;
    margin-bottom: 1.5vw;
    border-radius: 2vw;
    box-shadow: 0 0 1.5vw rgba(175, 47, 47, 0.3);
}

/** Making these cards responsive is hard (╥﹏╥) **/

.container-features .card-features h3 {
    z-index: 99;
    position: absolute;
    bottom: 2.5vw;
    right: 13vw;
    font-size: 5vw;
    font-weight: 700;
    color: #fff;
    pointer-events: none;
    transition: 0.2s ease;
    text-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.5);
}

.container-features .card-features p {
    z-index: 99;
    position: absolute;
    bottom: 3vw;
    right: 13vw;
    width: 15vw;
    color: #fff;
    opacity: 0;
    font-size: 1.2vw;
    text-align: right;
    letter-spacing: 0.1vw;
    transition: 0.2s ease;
}

/** I love these cards, but they are kind of hard to make. I still need to make them tinnier **/

.container-features .card-features span {
    z-index: 99;
    position: absolute;
    top: 6vw;
    right: 1.5vw;
    color: #fff;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    writing-mode: vertical-rl;
    transition: 0.2s ease;
    opacity: 0.7;
}

.container-features .card-features .pic {
    z-index: 100;
    width: 39.5vw;
    height: 20vw;
    background-size: cover;
    border-radius: 1.2vw;
    filter: grayscale(60%);
    transition: 0.3s ease;
}

.container-features .card-features button {
    position: absolute;
    right: 0.5vw;
    bottom: 2vw;
    width: 3vw;
    height: 3vw;
    background-color: #D4A373;
    border: none;
    border-radius: 3vw;
    cursor: pointer;
    outline: none;
    opacity: 1;
    transition: 0.3s ease;
}

.container-features .card-features:hover button {
    transform: scale(16.5);
    opacity: 0.5;
}

.container-features .card-features:hover h3 {
    bottom: 8vw;
    right: 5vw;
}

.container-features .card-features:hover p {
    opacity: 1;
    right: 6vw;
}

.container-features .card-features:hover span {
    opacity: 0;
    top: 8vw;
}

.container-features .card-features:hover .pic {
    filter: grayscale(0);
    width: 47vw;
}

/** Cards images **/

.menu .pic {
    background-image: url(https://media.istockphoto.com/id/482528386/photo/cup-of-heart-latte-art.jpg?s=612x612&w=0&k=20&c=SfcHG-rkmGSvnm-AOsWDj63fH046qPPMMKsC5_cw-EI=);
}

.gallery .pic {
    background-image: url(https://volumesandvoyages.com/wp-content/uploads/2023/04/Best-Coffee-Shops-in-Dublin-featured.jpg);
}

.productivity .pic {
    background-image: url(https://img.freepik.com/free-photo/medium-shot-woman-working-laptop_23-2150491878.jpg?semt=ais_user_personalization&w=740&q=80);
}

.contact .pic {
    background-image: url(https://noirepack.com/cdn/shop/files/Untitled-10_1.png?v=1750770230&width=1024);
}


/* Responsive Nav */
@media (max-width: 768px) {
    /* Hide desktop nav, show hamburger */
    .menu-toggle { display: inline-block; }

    .hero-content {
        max-width: 70vw;
        text-align: center;
    }

    .hero-bg {
        object-fit: cover;
    }

    .hero, .gallery-container {
        height: 50vw; 
    }

    .card-item {
        flex: 0 0 70vw;
    }

    .container-best-sellers {
        gap: 6vw;
    }

    nav {
        display: none;
        position: absolute;
        right: 20px;
        top: 60px;
        width: 220px;
        background: #333;
        border-radius: 10px;
        padding: 10px;
        flex-direction: column;
        z-index: 4;
    }
    nav.active { display: flex; }
    nav a { padding: 10px; }
}

footer {
    background: #3E2723;
    color: #FFFDF5;
    text-align: center;
    padding: 1vw;
    font-size: 1.2vw;
}