* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFDF5;
    overflow-x: hidden;
}

/** Navbar **/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    color: #3E2723;
    background-color: white;
}
.brand {
    font-size: 5vw;
    font-weight: bold;
    font-family: "Faculty Glyphic", sans-serif;
}

/* Mobile nav */

/*This is the nav for mobile devices */
#primary-nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    z-index: 4;
    border-bottom: 2px solid #3E2723;
    list-style: none;
}

/* I have been having problems with the first mobile approach due to the navbar, the error happened because i reused some code and i forgot to erase the things i didn't need more jajajajaja */

#primary-nav.active a {
    display: block;
    font-size: 1.5rem;
    margin: 10px 0;
    font-family: "Faculty Glyphic", sans-serif;
    /* Change the font later */
    text-decoration: none;
    color: #3E2723;
}

nav {
    display: none;
}


.nav-item {
    padding: 10px;
}

nav a:hover {
    background-color: #869d7a;
    border-radius: 8px;
    transition: color 0.5s ease, background-color 0.30s ease
}

/* Hamburger (hidden on desktop) */
.menu-toggle {
    display: inline-block;
    background: transparent;
    border: 0;
    padding: 6px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 24px;
    height: 3px;
    background: #3E2723;
    margin: 4px 0;
    transition: 0.3s;
}

/* new */
.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 2vw;
}

.photo-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.photo-card img:hover {
    filter: brightness(1.1);
    transform: translateY(-5px);
}

.brewing-techniques {
    background-color: #9b746d;
    color: #FFFDF5;
    padding: 5vw;
    margin-top: 4vw;
}

.techniques {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.techniques-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.fun-facts {
    margin-top: 40px;
    text-align: center;
}

.fun-facts ul {
    list-style: none;
    padding: 0;
}

footer {
    background: #3E2723;
    color: #FFFDF5;
    text-align: center;
    padding: 1vw;
    font-size: 12px;
    font-family: "Faculty Glyphic", sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
}
